.template_radio_select li {
  display: block;
  float: left;
  position: relative;
  height: 132px !important;
  width: 212px !important;
  margin: 0 20px 20px 0;
  border: solid 4px transparent;
  list-style-type: none;
}
  
  .template_radio_select li.checked {
    border-color: #00aeef;
  }
  
  .template_radio_select li input {
    visibility: hidden;
  }
  
  .template_radio_select li label {
    display: block;
    float: none;
    width: auto;
    cursor: pointer;
  }
    
    .template_radio_select li label img {
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      height: 132px;
      width: 212px;
    }

